tr {
  height: 1.5em;
}

tr td:first-child {
  text-align: right;

}

iframe {
  border: 0px;
}

legend,fieldset {
    border: 0px;
    border-radius:8px;
    padding: 4px;
}

input, .padding {
    padding: 2px 4px 2px 4px;
}

input.file {
  width: 32em;
}

label {
  margin-right: 10px;
  margin-left: 10px;
}

li.directory.selected a, li.file.selected a { background-color: cyan }


fieldset.panel {
  border: 2px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
}

tr.separator {
  height: 1em;
}

div.parameters {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

legend {
  background: white;
  border: 1px solid black;
  font-weight: bold;
}

button.go {
  font-size: 1.2em;
  width: 10em;
  border-radius:8px;
  position: relative;
  float:right;
  margin-right: 1em;
  margin-bottom: 0.5em;

}

