[submodule "elphel-footage_downloader"]
	path = elphel-footage_downloader
	url = git@github.com:luxigo/elphel-footage_downloader
[submodule "elphel-parallel-post-processing"]
	path = elphel-parallel-post-processing
	url = git@github.com:/luxigo/elphel-parallel-post-processing
[submodule "sshall"]
	path = sshall
	url = https://github.com/luxigo/sshall.git
[submodule "elphel-mov-splitter"]
	path = elphel-mov-splitter
	url = https://github.com/f0x06/elphel-mov-splitter.git
[submodule "imagej-elphel-config-editor"]
	path = imagej-elphel-config-editor
	url = git@github.com:/luxigo/imagej-elphel-config-editor.git
[submodule "jQueryFileTree"]
	path = jQueryFileTree
	url = git@github.com:luxigo/jQueryFileTree.git
